* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aliceblue;
}

img {
    width: 100%;
}

.error-message {
    color: red;
}

ul {
    column-count: 3;
    list-style-type: none;
}

li {
    break-inside: avoid-column;
}

#flag {
    max-height: 40px;
    max-width: 80px;
}