* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: wheat;

}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#country-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}
img {
    width: 100%;
}
#main-pic {
    max-width: 400px;
}

.error-message {
    color: red;
}

ul {
    column-count: 3;
    list-style-type: none;
}

li {
    break-inside: avoid-column;
}

#flag {
    max-height: 40px;
    max-width: 80px;
}